<div class="listdatespic">
  <h1>Dates</h1>
</div>

<div class="datelist">
  <% if @date_ideas == [] %>
  <p>There are no dates saved in the database yet.</p>
  <% else %>
  <ul>
    <% @date_ideas.each() do |date_idea| %>
    <li> <a href='/dates/<%= date_idea.id() %>'><%= date_idea.name %></a></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class="listbuttons">
  <a href='/dates/new'><button>Add a New Date</a></button>
  <button><a href='/'>Home</a></button>
</div>
