<h1>Add a New Date</h1>


<form action="/dates" method="post" class="form-container">
   <div class="form-group">
     <input type="text" name="name" id="name" placeholder="Name">
   </div>
   <div class="form-group">
     <input type="text" name="street" id="street" placeholder="Street">
   </div>
   <div class="form-group">
     <input type="text" name="city" id="city" placeholder="City">
   </div>
   <div class="form-group">
     <input type="text" name="state" id="state" placeholder="State">
   </div>
   <div class="form-group">
     <textarea name="description" rows="8" placeholder="Description"></textarea>
   </div>

   <button type="submit">Add Date</button>
 </form>

 <button><a href="/dates">View All Dates</a></button>
