<div class="addNewDateTitle">
  <h1>Add a New Date</h1>
</div>
<h4>Add categories to help organize your dates!</h4>
<div>
  <form action="/tags" method="post">
    <input type="text" name="tag_name" id="tag_name">
    <button type="submit">Add Category</button>
  </form>
</div>
<div>
  <label for="tag_ids[]"><strong>Select categories this date belongs to:</strong></label>
  <% if @tags.any? %>
    <% @tags.each do |tag| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="tag_ids[]" value="<%= tag.id %>"><%= tag.name %>
      </label>
    </div>
    <% end %>
  <% else %>
  <p>Please add a new category above</p>
  <% end %>
</div>

<div>
  <form action="/dates" method="post" class="form-container">

    <div class="form-group">
      <input type="text" name="name" id="name" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="text" name="street" id="street" placeholder="Street">
    </div>
    <div class="form-group">
      <input type="text" name="city" id="city" placeholder="City">
    </div>
    <div class="form-group">
      <input type="text" name="state" id="state" placeholder="State">
    </div>
    <div>
      <textarea name="description" rows="8" placeholder="Description"></textarea>
    </div>


    <div class="dateButtons">
      <button class="addDate" type="submit">Add Date</button>
    </div>
  </form>
</div>
