<h3>Oops! There were some errors:</h3>
<ul>
  <% @date_idea.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<button><a href="/dates/new">Add a Date</a></button>
<button><a href="/dates">View all Dates</a></button>
