<div class="welcome-container">
  <h1>DATE SUGGESTER</h1>
  <div class="button-container">
    <button><a href="/dates/new">Add a New Date</a></button>
    <button><a href="/dates">View All Dates</a></button>
  </div>
</div>
