<div class="icon-container">
  <div class="image-container">
    <img src="../img/LOGO3.png" alt="LOGO2" />
  </div>
</div>
<div class="button-container">
  <a href="/dates/new"><button class="newdate">Add a New Date</button></a>
  <a href="/dates"><button class="alldates">View All Dates</button></a>
  <a href="/tags/new"><button>Add a Category</button></a>
  <a href="/tags"><button>View All Categories</button></a>
</div>
