<<<<<<< HEAD
<div class="hero">
  <div class="icon-container">
  </div>
=======
<div class="icon-container">

</div>


<div>
  <p>
  <a href="/dates/new">add a new date</a>   - add a date idea to your profile to reference later when you have no idea what you want to do
  </p>

  <p>
  <a href="/tags">add new date categories</a>   - organize your date ideas by tagging them with various catagories to make finding the perfect date idea easier.
  </p>

  <p>
    <a href="/dates">rate date ideas</a> - give all date ideas a rating between one heart (hated it) and five hearts (loved it)
  </p>

  <p>
    <a href="/dates">view all saved dates</a> - view all your saved date ideas accompanied by their rating and linked category
  </p>

  <p>
    <a href="/tags">view all saved categories</a> - date categories can be saved viewed and later added to individual dates
  </p>

  <p>
    <a href="/dates">log past dates</a> - write notes that innclude your experience and with whom you went on the date
  </p>
</div>
<div class="hero">
  <button type="button"><a href="/dates/random">Show Me a Date!</a></button>
>>>>>>> master
</div>
