
<div class="hero-container">
  <a href="/dates/random" class="hero-button">Show Me a Random Date!
    <div class="hero-button"></div></a>
    <div class="hero">
    </div>

    <div class="dates-section">
      <a href="/dates/new" id="container-welcome1" class="welcome-section">
        <p>add a new date - add a date idea to your profile to reference later when you have no idea what you want to do</p>
      </a>

      <a href="/tags" id="container-welcome2" class="welcome-section">
        <p>add new date categories  - organize your date ideas by tagging them with various catagories to make finding the perfect date idea easier.</p>
      </a>

      <a href="/dates" id="container-welcome3" class="welcome-section">
        <p>rate date ideas - give all date ideas a rating between one heart (hated it) and five hearts (loved it)</p>
      </a>

      <a href="/dates" id="container-welcome4" class="welcome-section">
        <p>view all saved dates - view all your saved date ideas accompanied by their rating and linked category</p>
      </a>

      <a href="/tags" id="container-welcome5" class="welcome-section">
        <p>view all saved categories - date categories can be saved viewed and later added to individual dates
        </p>
      </a>

      <a href="/dates" id="container-welcome6" class="welcome-section">
        <p>log past dates - write notes that innclude your experience and with whom you went on the date</p>
      </a>
    </div>
  </div>

  
