<div class="welcome-container">

  <div class="icon-container">
    <h1>DATE SUGGESTER</h1>
  </div>
  <div class="button-container">
    <a href="/dates/new"><button>Add a New Date</button></a>
    <a href="/dates"><button>View All Dates</button></a>
  </div>
</div>
