<!DOCTYPE html>
<html>
  <head>
    <title>Date Suggestor</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
