<!DOCTYPE html>
<html>
  <head>
    <title>Date Suggester</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="container">
      <div class="image-container">
        <img src="../img/LOGO3.png" alt="LOGO2" />
      </div>
      <button><a href='/'>Home</a></button>
      <button><a href='/dates'>Dates</a></button>
      <button><a href='/dates/new'>New Date</a></button>
      <button><a href='/tags'>Categories</a></button>
      <%= yield %>
    </div>
  </body>
</html>
