<!DOCTYPE html>
<html>
  <head>
    <title>Gr8 Date</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA2sPrAMqr4ADBjuYAfhDMAJwm8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAARUAAAAAAAARVVAAAAAAARVVVQAAAAARVVTVUAAAARVVVUVVAAARVVVVVNVQABFVVVVUlVAAEVVVUVVVUAABFVUBFVUAAAAREAAREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP7/AAD8fwAA+D8AAPAfAADgDwAAwAcAAIADAACAAwAAgAMAAMEHAADjjwAA//8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <div id="navbar1" class="navbar">
          <div id="home"><a href='/'><img id="logo" src="../img/LOGO3.png" alt="LOGO2" /></a></div>
        <div class="navbuttons">
          <button id="dates"><a href='/dates'>Dates</a></button>
          <button id="newdates"><a href='/dates/new'>New Date</a></button>
          <button id="cats"><a href='/tags'>Categories</a></button>
          <div class="search-bar">
            <form action="/dates/search" method="post">
              <input type="text" name="date_idea_search">
              <button type="submit" class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
