<!DOCTYPE html>
<html>
  <head>
    <title>Date Suggester</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">

  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <a href='/'><img id="logo" src="../img/LOGO3.png" alt="LOGO2" /></a>
        <div class="navbuttons">
          <button id="dates"><a href='/dates'>Dates</a></button>
          <button id="newdates"><a href='/dates/new'>New Date</a></button>
          <button id="cats"><a href='/tags'>Categories</a></button>
        </div>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
