<div class="searchdiv">

  <h1>Search Results:</h1>
  <ul class="searchresultlist">
    <% @search_results.each do |result| %>
    <li><a href="/dates/<%= result.id %>"><%= result.name %></a></li>
    <% end %>
  </ul>

</div>
