<h1>Add a New Category</h1>
<form action="/tags" method="post">
  <label for="tag_name">Add Category:</label>
  <input type="text" name="tag_name" id="tag_name">
  <button type="submit">Add Category</button>
</form>
