<h1>Categories</h1>
<% if @tags == [] %>
<p>There are no categories saved in the database yet.</p>
<a href="/dates/new">Add a New Category</a>
<% else %>
<ul>
  <% @tags.each do |tag| %>
  <li><a href="tags/<%= tag.id %>"><%=tag.name%></a></li>
  <% end %>
</ul>
<% end %>

<h4>Add categories to help organize your dates!</h4>
<div>

  <form action="/tags/onpage" method="post">
    <input type="text" name="tag_name" id="tag_name">
    <button type="submit">Add Category</button>
  </form>
</div>
