<h1>Categories</h1>
<% if @tags == [] %>
<p>There are no categories saved in the database yet.</p>
<a href="/tags/new">Add a New Category</a>
<% else %>
<ul>
  <% @tags.each do |tag| %>
  <li><a href="tags/<%= tag.id %>"><%=tag.name%></a></li>
  <% end %>
</ul>
<% end %>
