.form-container {
  width: auto;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;

  .form-group {
    width: 100%;
    // height: 50%;

    input {
      width: 90%;
      max-width: 500px;
      height: 60px;

      border-radius: 10px;
      border: none;

    }

    textarea {
      width: 90%;
      max-width: 500px;

      border-radius: 10px;
      border: none;
    }
  }

  .dateButtons {
    width: 100%;
    display: flex;
    justify-content: space-around;

    button {
      width: 45%;
      height: 100px;
      @include buttonStyle($pink);

      a {
        text-decoration: none;
      }
    }
  }

}

.addNewDateTitle {
  width: 100%;
  height: 200px;
  background: brown;

  h1 {
    color: white;
    padding: 20px;
  }
}
