.listdatespic {
  width: 100%;
  height: 200px;
  background: steelblue;

  h1 {
    padding: 20px;
    color: white;
  }
}

.datelist {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    padding: 0;

    li {
      text-align: center;
      list-style: none;
      font-size: 25px;
      margin: 10px;

      a {
        text-decoration: none;
      }
    }
  }
}

.listbuttons {
  width: 100%;
  display: flex;
  justify-content: space-around;

  button {
    @include buttonStyle(pink);
  }
}
