//Styling

.newdatecontainer {
  display: flex;
  flex-direction: column;
  background: dimgrey;
  padding: 20px;

  .formcontent {
    align-self: center;
  }
}

.dateform {
  @include forms(500px)
}

.addcatform {
  @include catform;
}

.catlist {
  display: none;

  .checkbox {
    input {
      margin: 20px;


    }
    label {
      color: white;
      font-size: 25px;

      &:hover {
        color: $pink;
      }
    }
  }
}

.selectcats {
  line-height: 50px;
}

input[type="checkbox"] {
  &:hover {
    cursor: pointer;
  }
}
//Toggle List Display
.showstuff {
  display: none;
}

#showlist {
  height: 40px;
  border: none;
  background: darken($darkpink, 10%);
  color: white;

  &:focus {
    outline: none;
  }
  &:hover{
    background: $darkpink;
    cursor: pointer;
  }
}
