.listdatespic {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $purple;
  // padding: 20px;
  h1 {
    color: $blue;
  }
}

.datelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: dimgrey;
  padding: 20px;
}

.datesform {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: $blue;
  a {
    text-decoration: none;
  }
  h3 {
    color: $blue;
  }
  h3:hover {
    background: $pink;
    color: black;
    padding: 5px;
    border-radius: 10px;
}
}


.heart-rating {
  cursor: pointer;
  width: auto;
  height: auto;
  border: 0px;
  background: transparent;
  color: red;
  &#heart1 {
    color: #C98CB1;
    font-size: 30px;
    @include kaboom;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:hover,
    &:focus,
    &:checked,
    &:active {
      -webkit-animation-name: hvr-pulse-grow;
      animation-name: hvr-pulse-grow;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }

  &#heart2 {
    color: #CE6BA6;
    font-size: 40px;
    @include kaboom;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:hover,
    &:focus,
    &:checked,
    &:active {
      -webkit-animation-name: hvr-pulse-grow;
      animation-name: hvr-pulse-grow;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }

  &#heart3 {
    color: #D8459D;
    font-size: 50px;
    @include kaboom;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:hover,
    &:focus,
    &:checked,
    &:active {
      -webkit-animation-name: hvr-pulse-grow;
      animation-name: hvr-pulse-grow;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }

  &#heart4 {
    color: #D4268F;
    font-size: 60px;
    @include kaboom;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:hover,
    &:focus,
    &:checked,
    &:active {
      -webkit-animation-name: hvr-pulse-grow;
      animation-name: hvr-pulse-grow;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }

  &#heart5 {
    color: red;
    font-size: 70px;
    @include kaboom;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:hover,
    &:focus,
    &:checked,
    &:active {
      color:red;
      -webkit-animation-name: hvr-pulse-grow;
      animation-name: hvr-pulse-grow;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }
}
