.date-page {
  justify-content: center;
  text-align: center;
  align-content: center;

  h1{
    color: white;
    padding: 50px;
    margin: 0;
  }
}

.date-header {
  height: 150px;
  width: 100%;
  background-color: darken($green, 12%);
  margin-bottom: 20px;
}

.heart-rating {
  cursor: pointer;
  width: auto;
  height: auto;
  border: 0px;
  background: transparent;
  color: red;
  &#heart1 {
    color: #C98CB1;
    font-size: 30px;
    @include kaboom;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:hover,
    &:focus,
    &:checked,
    &:active {
      -webkit-animation-name: hvr-pulse-grow;
      animation-name: hvr-pulse-grow;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }

  &#heart2 {
    color: #CE6BA6;
    font-size: 40px;
    @include kaboom;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:hover,
    &:focus,
    &:checked,
    &:active {
      -webkit-animation-name: hvr-pulse-grow;
      animation-name: hvr-pulse-grow;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }

  &#heart3 {
    color: #D8459D;
    font-size: 50px;    @include kaboom;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:hover,
    &:focus,
    &:checked,
    &:active {
      -webkit-animation-name: hvr-pulse-grow;
      animation-name: hvr-pulse-grow;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }

  &#heart4 {
    color: #D4268F;
    font-size: 60px;
    @include kaboom;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:hover,
    &:focus,
    &:checked,
    &:active {
      -webkit-animation-name: hvr-pulse-grow;
      animation-name: hvr-pulse-grow;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }

  &#heart5 {
    color: red;
    font-size: 70px;
    @include kaboom;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:hover,
    &:focus,
    &:checked,
    &:active {
      color:red;
      -webkit-animation-name: hvr-pulse-grow;
      animation-name: hvr-pulse-grow;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }
}

.big-button {
  border: none;
  height: 40px;
  width: 150px;
  background: $darkpink;

  a{
    text-decoration: none;
    color: white;
  }
}

li {
  text-decoration: none;
  list-style: none;
}

.datelogdiv {
  background: dimgrey;
  display: flex;
  justify-content: center;

  .currentlogs {
    background: $pink;
    width: 30%;

    ul {
      padding: 0;

      li {
        margin: 5px;
        a{
          text-decoration: none;
        }

        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  .newdatelog {
    background: $pink;
    width: 30%;
    .datelogform {
      margin: 0 auto;
      @include forms(400px);

      label {
        color: white;
      }
    }
  }
}

//Category List styling

.addcatdiv {
  // background: $blue;

  h3 {
    padding-top: 10px;
  }

  #addcatlist {
    button {
      border: none;
      background: transparent;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 45%;
    padding: 0;

    li {
      margin: 5px;

      a{
        text-decoration: none;
        color: $darkpink;
      }
    }
  }
}

//Current categry styling
