.errorpic {
  width: 100%;
  height: 200px;
  background: darken(red, 5%);
}

h3 {
  margin: 10px 0;
}

.errors {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    padding: 0;
    li {
      list-style: none;
      color: red;
      font-weight: bold;
    }
  }
}

button {
  width: 45%;
  height: 100px;
  @include buttonStyle($red);
}

.errorbuttons {
  display: flex;
}
